In [1]:
import pandas as pd

In [2]:
import pandas_datareader as pdr

In [3]:
import numpy as np

In [10]:
df=pdr.get_data_yahoo('AAPL') # Apple Stock
#df=pdr.get_data_yahoo('GC')
df.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2010-01-04  30.642857  30.340000  30.490000  30.572857  123432400.0  26.681330
2010-01-05  30.798571  30.464285  30.657143  30.625713  150476200.0  26.727465
2010-01-06  30.747143  30.107143  30.625713  30.138571  138040000.0  26.302330
2010-01-07  30.285715  29.864286  30.250000  30.082857  119282800.0  26.253704
2010-01-08  30.285715  29.865715  30.042856  30.282858  111902700.0  26.428249

In [11]:
df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-09-16,220.130005,217.559998,217.729996,219.899994,21158100.0,219.899994
2019-09-17,220.820007,219.119995,219.960007,220.699997,18318700.0,220.699997
2019-09-18,222.850006,219.440002,221.059998,222.770004,25340000.0,222.770004
2019-09-19,223.759995,220.369995,222.009995,220.960007,22060600.0,220.960007
2019-09-20,222.559998,217.470001,221.380005,217.729996,55413100.0,217.729996

In [12]:
print(df)

                  High         Low        Open       Close       Volume  \
Date
2010-01-04   30.642857   30.340000   30.490000   30.572857  123432400.0
2010-01-05   30.798571   30.464285   30.657143   30.625713  150476200.0
2010-01-06   30.747143   30.107143   30.625713   30.138571  138040000.0
2010-01-07   30.285715   29.864286   30.250000   30.082857  119282800.0
2010-01-08   30.285715   29.865715   30.042856   30.282858  111902700.0
2010-01-11   30.428572   29.778572   30.400000   30.015715  115557400.0
2010-01-12   29.967142   29.488571   29.884285   29.674286  148614900.0
2010-01-13   30.132856   29.157143   29.695715   30.092857  151473000.0
2010-01-14   30.065714   29.860001   30.015715   29.918571  108223500.0
2010-01-15   30.228571   29.410000   30.132856   29.418571  148516900.0
2010-01-19   30.741428   29.605715   29.761429   30.719999  182501900.0
2010-01-20   30.792856   29.928572   30.701429   30.247143  153038200.0
2010-01-21   30.472857   29.601429   30.297142   29.724285  152038600.0
2010-01-22   29.642857   28.165714   29.540001   28.250000  220441900.0
2010-01-25   29.242857   28.598572   28.930000   29.010000  266424900.0
2010-01-26   30.530001   28.940001   29.421429   29.420000  466777500.0
2010-01-27   30.082857   28.504286   29.549999   29.697144  430642100.0
2010-01-28   29.357143   28.385714   29.275715   28.469999  293375600.0
2010-01-29   28.885714   27.178572   28.725714   27.437143  311488100.0
2010-02-01   28.000000   27.328571   27.481428   27.818571  187469100.0
2010-02-02   28.045713   27.625713   27.987143   27.980000  174585600.0
2010-02-03   28.600000   27.774286   27.881428   28.461428  153832000.0
2010-02-04   28.338572   27.367144   28.104286   27.435715  189413000.0
2010-02-05   28.000000   27.264286   27.518572   27.922857  212576700.0
2010-02-08   28.268572   27.714285   27.955715   27.731428  119567700.0
2010-02-09   28.214285   27.821428   28.059999   28.027143  158221700.0
2010-02-10   28.085714   27.751429   27.984285   27.874287   92590400.0
2010-02-11   28.535715   27.722857   27.840000   28.381428  137586400.0
2010-02-12   28.805714   27.928572   28.301428   28.625713  163867200.0
2010-02-16   29.098572   28.788572   28.848572   29.057142  135934400.0
...                ...         ...         ...         ...          ...
2019-08-09  202.759995  199.289993  201.300003  200.990005   24619700.0
2019-08-12  202.050003  199.149994  199.619995  200.479996   22474900.0
2019-08-13  212.139999  200.479996  201.020004  208.970001   47218500.0
2019-08-14  206.440002  202.589996  203.160004  202.750000   36547400.0
2019-08-15  205.139999  199.669998  203.460007  201.740005   27227400.0
2019-08-16  207.160004  203.839996  204.279999  206.500000   27620400.0
2019-08-19  212.729996  210.029999  210.619995  210.350006   24413600.0
2019-08-20  213.350006  210.320007  210.880005  210.360001   26884300.0
2019-08-21  213.649994  211.600006  212.990005  212.639999   21535400.0
2019-08-22  214.440002  210.750000  213.190002  212.460007   22253700.0
2019-08-23  212.050003  201.000000  209.429993  202.639999   46818000.0
2019-08-26  207.190002  205.059998  205.860001  206.490005   26043600.0
2019-08-27  208.550003  203.529999  207.860001  204.160004   25873300.0
2019-08-28  205.720001  203.320007  204.100006  205.529999   15938800.0
2019-08-29  209.320007  206.660004  208.500000  209.009995   20990500.0
2019-08-30  210.449997  207.199997  210.160004  208.740005   21143400.0
2019-09-03  206.979996  204.220001  206.429993  205.699997   20023000.0
2019-09-04  209.479996  207.320007  208.389999  209.190002   19188100.0
2019-09-05  213.970001  211.509995  212.000000  213.279999   23913700.0
2019-09-06  214.419998  212.509995  214.050003  213.259995   19362300.0
2019-09-09  216.440002  211.070007  214.839996  214.169998   27309400.0
2019-09-10  216.779999  211.710007  213.860001  216.699997   31777900.0
2019-09-11  223.710007  217.729996  218.070007  223.589996   44289600.0
2019-09-12  226.419998  222.860001  224.800003  223.089996   32226700.0
2019-09-13  220.789993  217.020004  220.000000  218.750000   39763300.0
2019-09-16  220.130005  217.559998  217.729996  219.899994   21158100.0
2019-09-17  220.820007  219.119995  219.960007  220.699997   18318700.0
2019-09-18  222.850006  219.440002  221.059998  222.770004   25340000.0
2019-09-19  223.759995  220.369995  222.009995  220.960007   22060600.0
2019-09-20  222.559998  217.470001  221.380005  217.729996   55413100.0

             Adj Close
Date
2010-01-04   26.681330
2010-01-05   26.727465
2010-01-06   26.302330
2010-01-07   26.253704
2010-01-08   26.428249
2010-01-11   26.195114
2010-01-12   25.897146
2010-01-13   26.262434
2010-01-14   26.110340
2010-01-15   25.673977
2010-01-19   26.809748
2010-01-20   26.397085
2010-01-21   25.940775
2010-01-22   24.654148
2010-01-25   25.317411
2010-01-26   25.675222
2010-01-27   25.917091
2010-01-28   24.846146
2010-01-29   23.944765
2010-02-01   24.277634
2010-02-02   24.418516
2010-02-03   24.838663
2010-02-04   23.943514
2010-02-05   24.368649
2010-02-08   24.201584
2010-02-09   24.459652
2010-02-10   24.326265
2010-02-11   24.768839
2010-02-12   24.982042
2010-02-16   25.358553
...                ...
2019-08-09  200.990005
2019-08-12  200.479996
2019-08-13  208.970001
2019-08-14  202.750000
2019-08-15  201.740005
2019-08-16  206.500000
2019-08-19  210.350006
2019-08-20  210.360001
2019-08-21  212.639999
2019-08-22  212.460007
2019-08-23  202.639999
2019-08-26  206.490005
2019-08-27  204.160004
2019-08-28  205.529999
2019-08-29  209.009995
2019-08-30  208.740005
2019-09-03  205.699997
2019-09-04  209.190002
2019-09-05  213.279999
2019-09-06  213.259995
2019-09-09  214.169998
2019-09-10  216.699997
2019-09-11  223.589996
2019-09-12  223.089996
2019-09-13  218.750000
2019-09-16  219.899994
2019-09-17  220.699997
2019-09-18  222.770004
2019-09-19  220.960007
2019-09-20  217.729996

[2446 rows x 6 columns]

In [13]:
data_source=r'E:\PYDATA\AAPL.xlsx'
df.to_excel(data_source)

In [14]:
datafile=r'E:\PYDATA\AAPL.xlsx'
df=pd.read_excel(datafile)
df.tail()

,Date,High,Low,Open,Close,Volume,Adj Close
2441,2019-09-16,220.130005,217.559998,217.729996,219.899994,21158100,219.899994
2442,2019-09-17,220.820007,219.119995,219.960007,220.699997,18318700,220.699997
2443,2019-09-18,222.850006,219.440002,221.059998,222.770004,25340000,222.770004
2444,2019-09-19,223.759995,220.369995,222.009995,220.960007,22060600,220.960007
2445,2019-09-20,222.559998,217.470001,221.380005,217.729996,55413100,217.729996

In [15]:
class Strategy:
    def__init__(self):
        self.strategy_name=strategy_name
        self.long_moving_avg=l_mav
        self.short_moving_avg=s_mav
        
#global variables
strategy_name='Connors' # testing Connors rsi
l_mav= 200
s_mav=5

SyntaxError: invalid syntax (<ipython-input-15-b7e676538ab6>, line 2)